<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SessionManagment</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Servlet1</servlet-name>
		<servlet-class>abhi.simplilearn.Servlet1</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet1</servlet-name>
		<url-pattern>/loginForm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet2</servlet-name>
		<servlet-class>abhi.simplilearn.Servlet2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet2</servlet-name>
		<url-pattern>/un_pass</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet3</servlet-name>
		<servlet-class>abhi.simplilearn.Servlet3</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet3</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Servlet4</servlet-name>
		<servlet-class>abhi.simplilearn.Servlet4</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Servlet4</servlet-name>
		<url-pattern>/details</url-pattern>
	</servlet-mapping>

</web-app>